<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center v-center main">
      <img id="profile-img" class="" src="../../assets/avatar.png" />
      <p id="profile-name" class="profile-name-card">Reset Password</p>

      <form class="form-signin" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

  <input type="text" class="form-control" name="token" [(ngModel)]="model.token"  required placeholder="Enter token">

        <input type="email" class="form-control" name="email" [(ngModel)]="model.email"  required placeholder="Enter Email">

<input type="password" class="form-control" name="password" [(ngModel)]="model.password" required placeholder="Enter Password">

<input type="password" class="form-control" name="password_confirmation" [(ngModel)]="model.password_confirmation" required placeholder="Enter Confirm Password ">

        <button [disabled]="isSubmitted" class="btn btn-lg btn-btn btn-primary btn-block btn-signin" type="submit">Submit</button>
      </form><!-- /form -->
    </div>
  </div>
</div>