
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center v-center main">
            <img id="profile-img" class="" src="../../assets/avatar.png" />
          <p id="profile-name" class="profile-name-card">CLIENT LOGIN</p>

          <form class="form-signin" name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
              <div class="row">
                <span id="reauth-email" class="reauth-email"></span>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <international-phone-number [defaultCountry]="'gb'"  [(ngModel)]="model.dail_code" [maxlength]="20" #dail_code="ngModel"
                    required id="dailcode"
                    name="dail_code" [ngClass]="{ 'is-invalid': f.submitted && dail_code.invalid }"></international-phone-number>
                <div *ngIf="f.submitted && !dail_code.invalid" class="invalid-feedback">
                    <div *ngIf="dail_code.errors.required">Dial Code required</div>
                </div>
                </div>

                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">    
                    <input type="text" class="form-control" name="mobile_no" [(ngModel)]="model.mobile_no" #mobile_no="ngModel" [ngClass]="{ 'is-invalid': f.submitted && mobile_no.invalid }" required placeholder="Email mobile_no" >
                    <div *ngIf="f.submitted && mobile_no.invalid" class="invalid-feedback">
                        <div *ngIf="mobile_no.errors.required">mobile_no is required</div>
                    </div>
                </div>
            </div>
<input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
    required minlength="6" placeholder="Enter Password">
              <div *ngIf="f.submitted && password.invalid" class="invalid-feedback" placeholder="Enter Password">
                <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                <div *ngIf="password.errors.required">Password is required</div>
            </div>
<button class="btn btn-lg btn-btn btn-primary btn-block btn-signin" [disabled]="isSubmitted" type="submit">Login</button>
          </form><!-- /form -->

<a routerLink="/forget-password" class="forgot-password">
<b><i>Forgot password?</i></b>
          </a>
        </div>
    </div>
</div>