
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center v-center main">
            <img id="profile-img" class="" src="../../assets/avatar.png" />
            <p id="profile-name" class="profile-name-card">MOBILE VERIFICATION</p>
<form class="form-signin" name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
                <div class="row">
                    <span id="reauth-email" class="reauth-email"></span>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <international-phone-number [defaultCountry]="'gb'" [(ngModel)]="model.dail_code" [maxlength]="20" #dail_code="ngModel"
                            required id="dailcode" name="dail_code" [ngClass]="{ 'is-invalid': f.submitted && dail_code.invalid }"></international-phone-number>
                        <div *ngIf="f.submitted && !dail_code.invalid" class="invalid-feedback">
                            <div *ngIf="dail_code.errors.required">Dial Code required</div>
                        </div>
                    </div>

                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <input type="text" class="form-control" name="mobile_no" [(ngModel)]="model.mobile_no"
                            #mobile_no="ngModel" [ngClass]="{ 'is-invalid': f.submitted && mobile_no.invalid }"
                            required placeholder="Email mobile_no">
                        <div *ngIf="f.submitted && mobile_no.invalid" class="invalid-feedback">
                            <div *ngIf="mobile_no.errors.required">mobile no is required</div>
                        </div>
                    </div>
                </div>
               
                <!-- <button  type="button" data-toggle="modal"
                    data-target="#exampleModal">VERIFY MOBILE</button> -->

                    
<button type="button" class="btn btn-lg btn-primary btn-block btn-signin" (click)="login()">VERIFY MOBILE</button>
                    
            </form><!-- /form -->
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog text-center v-center main" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title" id="exampleModalLabel">ENTER CODE</h5>
                    <input type="text" id="inputEmail" class="form-control" placeholder="_ _ _ _" required autofocus>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-primary btn-block btn-signin">CONFIRM</button>
                </div>
            </div>
        </div>
    </div>
</div>