/* You can add global styles to this file, and also import other style files */
/* body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
} */

.container {
    max-width: 35% !important;
    border: 1px solid grey;
    margin-top: 10px;

    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.main{
    margin: 68px 0 68px 0;
}
button.btn-btn {
    background: #3748DA !important;
    /* border-radius:  */
}
input{
    background: #d8d5d5 !important;
    border-radius: 0px  !important;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #636363 !important;
}

input:-moz-placeholder, 
textarea:-moz-placeholder {
    color: #636363 !important;
}