
<div class="container">
    <div class="row main">
        <div class="col-lg-12 text-center v-center ">
          <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
          <img id="profile-img" class="" src="../../assets/avatar.png" />
          <p id="profile-name" class="profile-name-card">CLIENT APP</p>
        </div>
        <div class="col-lg-6 col-sm-6 text-center v-center">
<button class="btn btn-lg btn-btn btn-primary btn-block btn-signin" type="button" (click)="gotologin()">
            LOGIN
          </button>
        </div>
        <div class="col-lg-6 col-sm-6 text-center v-center">
        <button class="btn btn-lg btn-btn btn-primary btn-block btn-signin" type="button" (click)="gotoregister()">
              REGISTER
            </button>
        </div>

    </div>
</div>