<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center v-center main">
      <img id="profile-img" class="" src="../../assets/avatar.png" />
      <p id="profile-name" class="profile-name-card">Forget Password</p>

      <form class="form-signin" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        
<input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel"
[ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required placeholder="Enter Email">
        <button [disabled]="isSubmitted" class="btn btn-lg btn-btn btn-primary btn-block btn-signin" type="submit">Submit</button>
      </form><!-- /form -->
    </div>
  </div>
</div>