
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center v-center main">
                <img id="profile-img" class="" src="../../assets/avatar.png" />
          <p id="profile-name" class="profile-name-card">CLIENT REGISTRATION</p>

<form class="form-signin" name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
            <div class="row">
                <span id="reauth-email" class="reauth-email"></span>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <international-phone-number [(ngModel)]="model.dail_code" [maxlength]="20" #dail_code="ngModel"
                required id="dailcode" name="dail_code" [ngClass]="{ 'is-invalid': f.submitted && dail_code.invalid }"></international-phone-number>
                </div>
<div *ngIf="f.submitted && !dail_code.invalid" class="invalid-feedback">
                    <div *ngIf="dail_code.errors.required">Dial Code required</div>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input type="text" class="form-control" name="mobile_no" [(ngModel)]="model.mobile_no" #mobile_no="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && mobile_no.invalid }" required placeholder="Email mobile no">
                    <div *ngIf="f.submitted && mobile_no.invalid" class="invalid-feedback">
                        <div *ngIf="mobile_no.errors.required">mobile no is required</div>
                    </div>
                </div>
            </div>
              

              <input type="password" class="form-control" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" placeholder="Enter Password">
              <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                    <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                    <div *ngIf="password.errors.required">Password is required</div>
               </div>

              <p id="profile-name" class="profile-name-card">PERSONAL</p>

              <input type="text" class="form-control" name="fullname" [(ngModel)]="model.fullname" #fullname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && fullname.invalid }" placeholder="FULL NAME" required>
              <div *ngIf="f.submitted && fullname.invalid" class="invalid-feedback">
                    <div *ngIf="fullname.errors.required">Name is required</div>
                </div>

              <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" placeholder="EMAIL ADDRESS" required>
              <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors.required">Email is required</div>
                </div>
                <input ngx-google-places-autocomplete 
                [options]='options' 
                #placesRef="ngx-places" 
                [(ngModel)]="model.address" 
                #address="ngModel" 
                autocomplete="false" 
                name="address" 
                class="form-control" 
                [ngClass]="{ 'is-invalid': f.submitted && address.invalid }" 
                placeholder="HOME ADDRESS" 
                required />
              <div *ngIf="f.submitted && address.invalid" class="invalid-feedback">
                    <div *ngIf="address.errors.required">Address is required</div>
                </div>

<button style="margin-top: 20px;" [disabled]="isSubmitted" class="btn btn-btn btn-lg btn-primary btn-block btn-signin"
    type="submit">REGISTER</button>
              
          </form><!-- /form -->


        </div>
    </div>
</div>